
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">    
    <meta name="description" content="User Management">
    <meta name="author" content="Md Mubeen Khan">
    <title>Welcome to UserManagementApp</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
  </head>

  <body>
    <form action="">
      <img src="{{ url_for('static',filename='images/logo.png') }}" alt="UserManagementApp">
      <h1>Hi user! Here are your options.</h1>
      <h4><a href="./register">1. Add User</a></h4>
      <h4><a href="">2. Get All user information</a></h4>
      <h4><a href="">3. Search user</a></h4>
      <h4><a href="">4. Delete user</a></h4>
      <h4><a href="">5. Change password</a></h4>
      <br><br><br>
      <p>md mubeen khan</p>
    </form>

  </body>
</html>

